/* 
.container {
    max-width: 140rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 3.2rem;

} */

/* Navbar.css */

/* header {
    background-color: rgb(17, 16, 16);
    color: #fff;
    padding: 10px 0;
}

.container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

.logo-brand a {
color: #fff;
text-decoration: none;
font-size: 24px;
font-weight: bold;
}

nav ul {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

nav ul li {
margin-left: 20px;
}

nav ul li a {
color: #fff;
text-decoration: none;
padding: 8px 12px;
border-radius: 4px;
transition: background-color 0.3s;
}

nav ul li a:hover {
background-color: rgb(17, 16, 16);
}

nav ul li a.active {
background-color: black;
} */

.navbar-header {
    background-color: rgb(17, 16, 16);
    color: #fff;
    padding: 0px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-brand {
    display: flex;
    align-items: center;
}

.logo-image {
    max-height: 100px; /* Adjust this value as per your design requirements */
    margin-right: 15px;
    /* max-width: 150px; */
    
}

.logo-brand p {
    margin: 0;
    font-size: 18px; /* Adjust to fit your design */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(34, 34, 34); /* A slightly lighter shade for the hover effect */
}

nav ul li a.active {
    background-color: black;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .logo-brand {
        margin-bottom: 15px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}